body {
    background: lightblue;
}

section[role="main"] {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#initial-list-of-numbers {
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}
